/*1362572401,173217045*/

._50dw{border-top:1px solid #eee;position:relative}
.bubbles ._50dw{border-top-width:0;margin-bottom:0;margin-left:4px;padding-top:0}
._50ke{float:left;position:relative}
.bubbles ._50ke{bottom:0;float:none;height:100%;min-height:38px;position:absolute}
.bubbles ._50dw .profileLink{position:absolute;top:5px}
._6nw ._50dw .profileLink:after{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yx/r/-u9PNi5orXx.png);background-repeat:no-repeat;background-size:auto;background-position:-96px -145px;content:'';height:36px;left:-2px;position:absolute;top:-2px;width:36px}
._50dw .profileLink .profilePhoto{display:block;height:32px;width:32px}
._50dw .messages{margin-left:40px}
._50x5{color:#999ca5;display:none;font-size:11px;overflow:hidden;position:absolute;text-overflow:ellipsis;top:-9px;white-space:nowrap;width:200px}
._6nw ._50x5{top:-11px}
._50x4 ._50x5{display:block}
._50x4._50dw{margin-top:13px}
.bubbles ._511o + ._50x4{margin-top:19px}
.bubbles ._511m + ._50x4{margin-top:29px}

#bootloader_lE3uU { height: 42px; }