/*1362459686,178142491*/

.fbAggregatedMapContainer{overflow:hidden;position:relative;z-index:0}
.fbAggregatedMapContainer .fbAggregatedMap{height:100%}
.fbAggregatedMapContainer .fbAggregatedMapControl{z-index:7000}
.fbAggregatedMapCalloutThrobber{position:relative;top:20px;margin-right:auto;margin-left:auto;display:block}
.fbAggregatedMapCalloutThrobberDiv{display:block;height:50px;width:409px}
.fbAggregatedMapCalloutShell{position:absolute}
.fbAggregatedMapCalloutShell .storyOnlyMe div.onlyMeBorderBottom{margin:3px -12px 0 -12px}
.fbAggregatedMapBubbleShell{background:rgba(177, 109, 137, .35);cursor:pointer;position:absolute;text-align:center;vertical-align:middle}
.fbAggregatedMapBubbleShellSmall{-webkit-border-radius:15px;height:30px;line-height:30px;width:30px}
.fbAggregatedMapBubbleShellMedium{-webkit-border-radius:20px;height:40px;line-height:40px;width:40px}
.fbAggregatedMapBubbleShellLarge{-webkit-border-radius:28px;height:56px;line-height:56px;width:56px}
.fbAggregatedMapBubble{background-color:#b16582;border:1px solid #58283b;color:#fff;font-family:"Helvetica";font-weight:bold;margin:4px;position:relative;text-align:center;vertical-align:middle;-webkit-font-smoothing:antialiased}
.fbAggregatedMapBubbleSmall{-webkit-border-radius:11px;font-size:14px;height:20px;line-height:20px;width:20px;z-index:13}
.fbAggregatedMapBubbleMedium{-webkit-border-radius:16px;font-size:16px;height:30px;line-height:30px;width:30px;z-index:12}
.fbAggregatedMapBubbleLarge{-webkit-border-radius:24px;font-size:18px;height:46px;line-height:46px;width:46px;z-index:11}
.fbAggregatedMapBubbleShell.highlighted{background-color:rgba(59, 89, 152, .75)}
.fbAggregatedMapBubbleShell.highlighted .fbAggregatedMapBubble{background-color:rgba(255, 255, 155, 1);color:#000}
.fbAggregatedMapPin{color:#fff;-webkit-font-smoothing:antialiased;position:absolute;cursor:pointer}
.fbAggregatedMapPinText{color:#fff;font-family:"Helvetica";font-weight:bold;left:0;position:absolute;text-align:center}
.fbAggregatedMapPinTextSmall{font-size:12px;top:1px;width:17px}
.fbAggregatedMapPinTextMedium{font-size:12px;top:4px;width:25px}
.fbAggregatedMapPinTextLarge{font-size:12px;top:5px;width:31px}
.fbAggregatedMapTooltipText{background-color:#fff;color:#333;display:block;font-size:11px;font-weight:bold;min-height:17px;padding:5px 8px 3px;text-align:left;white-space:nowrap}
.uiButtonStack .uiButtonGroup .uiButtonGroupItem{border-color:rgba(0, 0, 0, .15);display:block}
.uiButtonStack .uiButtonGroup .uiButtonGroupItem{border-left:0;border-top:1px solid #d9d9d9}
.uiButtonStack .uiButtonGroup .firstItem{border-top:0}
.uiButtonStack > :first-child .uiButtonGroup .uiButton{-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px;-webkit-border-bottom-left-radius:0}
.uiButtonStack > :last-child .uiButtonGroup .uiButton{-webkit-border-bottom-left-radius:3px;-webkit-border-bottom-right-radius:3px;-webkit-border-top-right-radius:0}
.uiButtonStack .uiButtonGroup .uiButton .label{vertical-align:middle}
.fbMapCallout .fbMapCalloutArrowRight, .fbMapCallout .fbMapCalloutArrowLeft, .fbMapCallout .fbMapCalloutArrowTop, .fbMapCallout .fbMapCalloutArrowBottom{display:none;position:absolute}
.fbMapCalloutArrowRight{left:-8px;top:40px}
.fbMapCalloutArrowLeft{right:-8px;top:40px}
.fbMapCalloutArrowTop{bottom:-8px}
.fbMapCalloutArrowBottom{top:-8px}
.fbMapCalloutUseArrowRight .fbMapCalloutArrowRight, .fbMapCalloutUseArrowLeft .fbMapCalloutArrowLeft, .fbMapCalloutUseArrowBottom .fbMapCalloutArrowBottom, .fbMapCalloutUseArrowTop .fbMapCalloutArrowTop{display:block}
.fbMapCalloutMain{background-color:#fff;border:1px solid #fff;margin:1px;outline:1px solid rgba(0, 0, 0, .35)}
.fbMapCalloutShadow{-webkit-box-shadow:rgba(0, 0, 0, .3) 0 2px 5px}
.__4{overflow:hidden;direction:ltr}
.__5{padding-bottom:1px}
html .__5 .img{margin:3px 3px}
html .__0 .img{margin:4px 1px}
.__0{cursor:pointer;padding-bottom:0;padding-top:1px;position:absolute}
.__6{cursor:pointer;position:absolute}
.__7{padding:1px 6px}
html .__7 .img{margin:4px 1px}
.pagesElsewhere:hover{background-color:#eff2f7;text-decoration:none}
.pagesElsewhere:hover .pagesElsewhereReportBtn{visibility:visible}
.pagesElsewhere .pagesElsewhereReportBtn{visibility:hidden;float:left}
.pagesElsewhere{padding:3px 2px 3px 7px}
.pagesElsewhere a{color:#333;text-decoration:none}
._1vx{margin:-10px 0 -12px -15px}
div.timelineUnitContainer ._1vx .ogProfileTitle{margin-left:0;margin-bottom:2px}
._6-d{position:relative}
._6-d #fbProfileCover .coverBorder{background:-webkit-gradient(linear, center bottom, center top, from(rgba(0,0,0,0.33)), color-stop(0.25, rgba(0,0,0,0)));background:-webkit-linear-gradient(bottom, rgba(0,0,0,0.33), rgba(0,0,0,0) 25%);border-bottom-color:rgba(0,0,0,0.4)}
._6-d #fbTimelineHeadline{min-height:41px}
html ._6-d .fbTimelineTopSection{border-bottom:1px solid #d2d3d6;-webkit-border-radius:0 0 3px 3px}
._6-d #fbTimelineHeadline .profilePicThumb{-webkit-box-shadow:none;left:15px;margin-top:0;top:-143px}
._6-d #fbProfileCover .fbTimelineProfilePicSelector{bottom:30px;left:15px;text-align:center;top:auto;width:170px}
._6-d #fbProfileCover .fbProfileCoverPhotoSelector{bottom:121px;right:15px}
._6-d #fbProfileCover .fbTimelineSelector .wrap a.fbTimelineSelectorButton{height:auto}
html #fbTimelineHeadline ._70j{bottom:15px;padding:0;position:absolute;right:15px;width:340px}
._50zj{position:absolute;width:100%}
#fbTimelineHeadline ._70j .uiButtonGroup{margin-top:15px}
._6-e{bottom:12px;left:201px;position:absolute}
._6-f{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:24px;font-weight:500;letter-spacing:1px;line-height:30px;max-width:300px}
.fbEditCover ._6-f{display:none}
._6-f .alternate_name{font-size:20px;font-weight:normal;white-space:nowrap}
.win ._6-f{font-weight:bold;letter-spacing:0}
._8_2, ._6-f .alternate_name{color:#fff;text-rendering:optimizelegibility;text-shadow:0 0 3px rgba(0,0,0,0.8)}
._6_5 ._8_2, ._6_5 .alternate_name{color:#555;text-shadow:0 0 1px #fff}
._6-d #fbProfileCover .coverNoImage{background:#f6f7f8;border:1px solid #d3d6db;border-top:none;height:149px}
._6-d .fbEditCover .profilePicNotch{left:15px;top:173px}
._6-d .fbEditCover .notchInner{height:141px}
._6-d .fbEditCover .coverEditor{padding:9px 10px}
._70k{clear:right;padding-left:201px;width:649px}
._9e-{height:120px}
._9e_{left:180px;position:absolute}
._6_7{border-left:1px solid #e9eaed}
._6-6{border-right:1px solid #e9eaed;float:left;font-size:13px;font-weight:bold;height:43px;line-height:43px;padding:0 17px;position:relative;vertical-align:middle;white-space:nowrap}
._6-7{border:1px solid #d7d8db;border-width:0 1px;-webkit-box-shadow:inset 1px 0 0 #fff, inset -1px 0 0 #fff;color:#333;margin-left:-1px}
._6-7:hover{cursor:default}
._6-6:hover, ._6-7, ._9ry:hover, ._9rw:hover{background:#f6f7f8;text-decoration:none}
._9rv{background:#fff;border:1px solid #d3d4d7;display:none;left:-1px;min-width:83px;padding:6px 0;position:absolute;top:43px}
._9rw{display:block;font-size:11px;font-weight:normal;padding:0 17px;line-height:23px;white-space:nowrap}
._9rx{padding:0;position:relative}
._9ry{display:block;padding:0 17px}
._bxy{margin-left:7px;position:relative;top:-2px}
._9rx:hover ._9rv{display:block}
._gs6{color:#89919c;font-size:11px;font-weight:normal;padding-left:6px}
._42di{float:right;margin:8px 13px 0}
._42di:hover ._42dj, ._42di:hover ._gs6{text-decoration:underline}
._42di .img{float:left;margin:2px 10px 0 0}
._42di ._gs6{padding-left:0}
.fbTimelineMapZoomer{left:9px;top:9px}
.fbTimelineMapSnapback{left:9px;top:54px}
.fbTimelineMapPager{position:absolute;right:9px;top:9px}
#fbTimelineMapTagUnit{float:top;display:block;height:127px;width:100%;padding-bottom:1px;z-index:4;-webkit-user-select:none}
.fbPhotoStrip .fbPhotosNullstate{margin:auto}
.fbPhotoStrip .fbPhotosNullstate .imageCell, .fbPhotoStrip .fbPhotosNullstate .textCell{padding-top:50px}
.fbPhotoStrip{position:relative}
#fbTimelineMapAddPhotoLoading{margin-left:50%;margin-top:50px}
.fbPhotoStrip .fbScrollableAreaTrack{top:0;bottom:auto}
.fbPhotoStrip .fbScrollableAreaWrap{top:9px}
.fbPhotoStrip .uiAttachmentThumbRemoveX{display:none;right:5px;position:absolute;top:5px}
.fbPhotoStrip .photoStripMorePager{display:inline-block;vertical-align:40px;margin:0 40px}
.fbPhotoStrip .uiMorePager .photoStripMoreLink{border-top:none}
.fbPhotoStrip .photoStripNoMore{display:inline-block;vertical-align:40px;background:white;padding-right:100px}
.fbPhotoStrip .photoStripPaddingTop{height:25px}
.placePhotoForm{height:117px;cursor:pointer;width:145px;margin-right:2px}
.fbPhotoStrip .placePhotoForm .placePhotoThumb{background:white;border:none;float:left;outline:none;padding:0}
.fbPhotoStrip .placePhotoForm i{background-color:#eee;background-position:center 25%;background-repeat:no-repeat;display:block;float:left;width:145px}
.fbPhotoStrip .fbPhotoStripTypeaheadDlg{height:30px;left:150px;padding-top:8px;position:absolute;top:270px;visibility:hidden;width:194px;z-index:1}
.fbPhotoStrip .fbPhotoStripTypeaheadDlg .fbPhotoStripTypeaheadForm{background:#fff;border:1px solid #8c8c8c;border:1px solid rgba(0, 0, 0, .45);border-bottom:1px solid #666;-webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .3)}
.fbPhotoStrip .fbPhotoStripTypeaheadDlg .formTopArrow{top:0;left:8px;height:9px;width:16px;position:absolute;overflow:hidden}
.fbPhotoStrip .fbPhotoStripTypeahead .textInput{width:160px}
.fbPhotoStripTypeaheadDlg .uiTypeahead{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yT/r/lYE6gSgmDvr.png) no-repeat -4px -5px}
.fbPhotoStripTypeaheadDlg .uiTypeahead .selected{background:#e2e8f6 url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yT/r/lYE6gSgmDvr.png) no-repeat -4px -5px}
.fbPhotoStripTypeaheadDlg .PlacesTypeaheadView .selected{background-color:#6d84b4;border-color:#3b5998}
.fbPhotoStripTypeaheadDlg .wrap{padding-left:15px}
.fbPhotoStripTypeaheadDlg .innerWrap{width:100%}
.fbTimelineMapBorderWrap{position:relative}
.fbTimelineMapBorder{position:relative;background-color:#fff;border:1px solid #c4cde0;overflow:hidden;padding:3px;max-height:3000px;min-height:154px;z-index:0}
.fbTimelineMapContainer{background:#b1bdd6;overflow:hidden;position:relative}
.fbTimelineMapContainer .fbAggregatedMapContainer{visibility:hidden}
.fbTimelineMapContainerLoaded .fbAggregatedMapContainer{visibility:visible}
.fbTimelineMapLoaderIndicator{left:50%;margin:-16px 0 0 -16px;position:absolute;top:50%}
.fbTimelineMapContainerLoaded .fbTimelineMapLoaderIndicator{display:none}
.fbTimelineMapContainer .fbAggregatedMap{-webkit-user-select:none}
.fbTimelineMapDimPinMode div.fbTimelineMapHighlighted{color:#fff;opacity:1}
.fbTimelineMapDimPinMode .fbAggregatedMapPin, .fbTimelineMapDimPinMode .fbAggregatedMapBubbleShell{opacity:.5;z-index:6000}
.fbTimelineMapHovercard{width:321px}
.fbTimelineMapUnitActor{margin-top:5px}
.fbTimelineMapHovercardPhoto{display:inline-block;height:77px;overflow:hidden;padding-right:3px;width:77px}
.fbTimelineMapHovercardContainer{margin:2px}
.fbTimelineMapHovercardHeader{background-color:#f1f1f1}
.fbTimelineMapHovercardPhotoSection{margin-top:3px}
.fbTimelineMapHovercardHeader, .fbTimelineMapHovercardPhotoSection{border-bottom:1px solid #d3d3d3}
.fbTimelineMapHovercard .fbTimelineMapHovercardPhotoLast{padding-right:0}
.fbTimelineMapHovercardTargetInner{padding:5px 0 4px}
.fbTimelineMapHovercardTargetTitle{width:242px}
.fbTimelineMapHovercardTarget:hover{background-color:#edeff4;cursor:pointer;-webkit-border-radius:3px}
.fbTimelineMapHovercardTargetZoomIn{color:gray;padding-top:10px;visibility:hidden;padding-right:5px}
.fbTimelineMapHovercardTarget:hover .fbTimelineMapHovercardTargetZoomIn{visibility:visible}
.fbTimelineMapHovercard .fbTimelineMapHovercardContainer
.fbTimelineMapHovercardSectionHeader{border:0;margin-top:1px;padding:5px 10px}
.fbTimelineMapHovercardTargetTop{margin-top:8px}
.fbTimelineMapHovercardTargetBottom{margin-bottom:7px}
.fbTimelineMapHovercard .fbTimelineMapHovercardLink{color:#999}
.fbTimelineMapHovercardTargetTop .fbTimelineMapHovercardTargetInner{border-bottom:1px solid #ededed}
.fbTimelineMapHovercardTargetBottom .fbTimelineMapHovercardTargetInner{border-top:1px solid #ededed}
.fbTimelineMapInitialCallout{left:221px;position:absolute;top:12px;z-index:9000}
.fbTimelineMapCallout{margin:-1px;width:409px}
.fbTimelineMapCallout:hover .fbTimelineMapCalloutCloseButton{visibility:visible}
.fbTimelineMapCalloutCloseButton{height:15px;position:absolute;right:8px;top:7px;visibility:hidden;width:15px}
.fbTimelineMapPlaceImage{height:100px;width:100px}
.fbTimelineMapCallout .timelineUnitHovercard{width:379px;max-width:379px}
.fbTimelineMapCalloutHeader{border-bottom:1px solid #d5d7db;color:#535a68;font-family:Helvetica, Arial, sans-serif;-webkit-font-smoothing:antialiased;margin:3px 3px 0 3px;padding:12px}
.fbTimelineMapAggregateCallout .fbTimelineMapCalloutHeader{background-color:#f1f1f1}
.fbTimelineMapCalloutHeader .fbTimelineMapCalloutCategory{font-family:'lucida grande',tahoma,verdana,arial,sans-serif}
.fbTimelineMapCalloutHeader .fbPlacesCalloutPager{margin-top:29px}
.fbTimelineMapCalloutHeaderTitle{max-width:310px}
.fbTimelineMapAggregateCallout .fbTimelineMapCalloutHeaderTitle{max-width:260px}
.fbTimelineMapCalloutStory{padding-top:15px;padding-left:15px;padding-right:15px;padding-bottom:3px;width:379px}
.fbTimelineMapCalloutStory .fbTimelineMapCalloutStoryHidden{padding-bottom:15px}
.fbTimelineMapCalloutStory .fbTimelineMapCalloutStoryHidden .hiddenText{display:block}
.fbTimelineMapCalloutStory .fbTimelineMapCalloutStoryHidden .undoButton{float:right;margin-top:-4px}
.fbTimelineMapCalloutStory .fbTimelineMapStaticUnitContainer{position:static}
.fbTimelineMapCalloutStory .mleEditUnitContainer .mleFormContainer .mleGrid{width:100%}
.fbTimelineMapCallout{width:409px}
.fbTimelineMapCallout .timelineUnitHovercard .uiCommentContainer, .fbTimelineMapCallout .fbTimelineMapCalloutFeedback{margin-left:-12px;margin-top:0;padding-top:3px;top:auto;width:403px}
.fbTimelineMapCallout .fbTimelineUFIEmpty{margin-top:-3px}
.fbTimelineMapCalloutPhoto{border:0;padding:0}
.fbTimelineMapCalloutPhoto .photoWrap{margin-left:-12px;height:200px;width:403px}
.fbTimelineMapCalloutVideo{margin-left:-12px}
.fbTimelineMapCallout .lifeEventPhotoContainer .lifeEventPhoto{width:403px;height:179px}
.fbTimelineMapCallout .lifeEventPhotoContainer{margin-left:-12px;margin-right:-12px}
.fbTimelineMapCallout .fbTimelineTwoColumn{margin-bottom:auto}
.fbTimelineMapCallout .photoUnit .photoWidth1 .photoWrap{height:200px}
.fbTimelineMapCallout .fbTimelineFeedbackStub{display:none}
.fbTimelineMapCallout .uiUfiAddComment .actorPic{display:none}
.fbTimelineMapCallout .child_is_active .uiUfiAddComment .actorPic{display:block}
.fbTimelineMapFilterBar{border-top:3px solid white;height:60px;overflow:hidden}
.fbTimelineMapFilter{border-right:3px solid white;float:left;overflow:hidden;padding:13px;vertical-align:top;width:140px;white-space:nowrap}
.fbTimelineMapFilterBar, .fbTimelineMapFilter{background-color:#edeff4}
.fbTimelineMapFilterBar .fbTimelineMapFilterLast{width:137px;border-right:0}
.fbTimelineMapFilterBar .selected, .fbTimelineMapFilterBar .selected:hover{background-color:#6d84b4;cursor:default}
div.fbTimelineMapFilterIcon{float:left}
.fbTimelineMapFilterAll div.fbTimelineMapFilterIcon{height:27px;width:17px;background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yi/r/bNAoZ99mBxF.png);background-repeat:no-repeat;background-size:auto;background-position:-70px -316px;margin:3px 16px 0 4px}
.selected .fbTimelineMapFilterAll div.fbTimelineMapFilterIcon{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yi/r/bNAoZ99mBxF.png);background-repeat:no-repeat;background-size:auto;background-position:-52px -316px}
.fbTimelineMapFilterLived div.fbTimelineMapFilterIcon{height:25px;width:25px;background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yi/r/bNAoZ99mBxF.png);background-repeat:no-repeat;background-size:auto;background-position:-70px -345px;margin:4px 9px 0 1px}
.selected .fbTimelineMapFilterLived div.fbTimelineMapFilterIcon{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yi/r/bNAoZ99mBxF.png);background-repeat:no-repeat;background-size:auto;background-position:-44px -345px}
.fbTimelineMapFilterTrips div.fbTimelineMapFilterIcon{height:26px;width:21px;background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yi/r/bNAoZ99mBxF.png);background-repeat:no-repeat;background-size:auto;background-position:-22px -345px;margin:4px 14px 0 1px}
.selected .fbTimelineMapFilterTrips div.fbTimelineMapFilterIcon{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yi/r/bNAoZ99mBxF.png);background-repeat:no-repeat;background-size:auto;background-position:0 -345px}
.fbTimelineMapFilterLifeEvents div.fbTimelineMapFilterIcon{height:28px;width:25px;background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yi/r/bNAoZ99mBxF.png);background-repeat:no-repeat;background-size:auto;background-position:-26px -316px;margin:2px 12px 0 0}
.selected .fbTimelineMapFilterLifeEvents div.fbTimelineMapFilterIcon{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yi/r/bNAoZ99mBxF.png);background-repeat:no-repeat;background-size:auto;background-position:0 -316px}
.fbTimelineMapFilterPhotos div.fbTimelineMapFilterIcon{height:23px;width:26px;background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yi/r/bNAoZ99mBxF.png);background-repeat:no-repeat;background-size:auto;background-position:-115px -316px;margin:4px 10px 0 0}
.selected .fbTimelineMapFilterPhotos div.fbTimelineMapFilterIcon{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yi/r/bNAoZ99mBxF.png);background-repeat:no-repeat;background-size:auto;background-position:-88px -316px}
.fbTimelineMapFilterTagCount{color:#8897bd;font-family:Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;line-height:20px;-webkit-font-smoothing:antialiased;display:block}
.fbTimelineMapFilterBar .selected .fbTimelineMapFilterTagCount{color:#fff}
.fbTimelineMapFilterText{color:gray;display:inline-block;font-size:11px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;max-width:108px}
.fbTimelineMapFilterBar .selected .fbTimelineMapFilterText{color:#fff;font-weight:bold}
.fbTimelineMapFilter:hover{cursor:pointer}
.fbTimelineMapOnhover .fbAggregatedMapBubbleShell:hover{background-color:rgba(60, 89, 152, .35)}
.fbTimelineMapOnhover .fbAggregatedMapBubbleShell:hover .fbAggregatedMapBubble{background-color:#3b5998}
.fbTimelineMapStickyHeaderComposerContainer{margin:-6px -23px 0 0;padding:7px 0 3px}
.fbTimelineStickyHeaderPlaceComposer{display:inline-block;padding-right:21px;vertical-align:top;width:235px;zoom:1}
.fbTimelineStickyHeaderPlaceComposer .wrap{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yT/r/lYE6gSgmDvr.png) no-repeat -4px -5px;padding-left:15px}
.fbTimelineMapAddPhoto{border-left:1px solid #e9e9e9;display:inline-block;padding:0 21px;vertical-align:top;zoom:1}
.fbTimelineMapAddPhoto .fbDoneAddButton, .photoTaggingMode .fbTimelineMapAddPhoto .fbAddPhotoButton, .photoTaggingMode .fbTimelineStickyHeaderPlaceComposer, .photoTaggingMode .fbTimelineScrubber, .photoTaggingMode .fbTimelineMapFilterBar{display:none}
.photoTaggingMode .fbTimelineMapAddPhoto{border-left:none}
.fbTimelineMapAddPhoto .fbAddPhotoButton, .photoTaggingMode .fbTimelineMapAddPhoto .fbDoneAddButton{display:inline-block}
.fbTimelineMapHeaderComposer .uiComposer .attachmentLoader .img{display:none}
._gx4{min-height:200px}
._5rz{position:relative}
._4_mh, ._gx7{display:block;font-weight:bold;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:100%}
._gx8{display:block;position:relative}
._gx8::after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
._gx8 .img{background:#f2f2f2;display:block}
._gx6{position:relative}
._620 ._gx9{border-color:#fff;padding:70px 0;text-align:center}
._1fs8{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._1fs8 .abbrTimestamp{float:left;max-width:155px;overflow:hidden;text-overflow:ellipsis}
._gx6 ._4-u9{bottom:3px;position:absolute;right:2px;top:inherit}
._gx6 ._1edt{margin-right:2px}
._4-he{background-repeat:no-repeat;background-size:cover;height:196px;width:196px}
._4-me img{max-height:none;max-width:none}
._4-me i{background-image:fb-sprite('/images/narwhal/video-play.png');background-repeat:no-repeat;bottom:5px;height:28px;left:5px;margin:0;top:auto;width:40px}
._1qp6 .fbProfileBrowserListContainer, ._262m{margin-left:-13px}
._1qp6 .fbProfileBrowserListContainer .fbProfileBrowserListItem, html ._262m ._698{border:1px solid #e9eaed;display:inline-block;margin:0 0 13px 13px;padding:0 10px 0 0;vertical-align:top;width:390px}
._1qp6 .fbProfileBrowserSummaryBox{padding-top:0}
._1qp6 .fbProfileBrowserListContainer{padding:10px 0}
._3qxv ._262m{display:none}
._69n{max-height:420px;overflow:hidden}
._69n.fbStarGridAppendedTo{max-height:none}
html ._69n{margin:-12px 0 4px -12px}
._417g{margin-top:-15px}
._3cz{background:#f6f7f8;border-bottom:1px solid #d3d6db;-webkit-border-radius:2px 2px 0 0;margin-bottom:15px;min-height:62px;padding-top:12px}
._4-ox{min-height:0}
._1_ca{padding:3px 0 0}
._3c-{background-position:top left;background-repeat:no-repeat;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;height:34px;margin:0 12px;padding:4px 0 0 42px}
._1_cb{background:#d3d7dc;border:1px solid #c1c6cd;border-bottom-color:#adb3bc;border-top-color:#adb3bc;margin:0 -1px -1px}
._1_cc{display:block;margin:60px auto}
._2zh3{-webkit-user-select:none}
._6ph{line-height:24px;vertical-align:middle}
._6ph .fbProfileBrowserTypeahead{line-height:0}
._6ph, ._69l{padding-right:14px}
._3c- a{color:#333}
._69l{margin-top:3px}
._69l .uiButtonGroup{vertical-align:middle}
._6e3{margin:1px 0 1px 17px}
._3dc{font-size:13px;padding:0 0 3px 12px;visibility:hidden;white-space:nowrap}
._3s18, ._3c_{cursor:pointer;display:inline-block;margin:4px 17px 6px 0;position:relative}
._3s18 ._3s19:hover, ._3s18 ._3c_:hover, ._3c_:hover{text-decoration:none}
._3sz{font-weight:bold}
._3c_:hover ._3sz, ._3s- ._3sz{color:#333}
._3d0{-webkit-border-radius:2px;color:#89919c !important;font-size:12px;margin-left:6px;-webkit-transition-duration:.2s;-webkit-transition-property:background-color, color}
._4-k9 ._3d0{background-color:#45609e;color:#fff}
._3s_{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yi/r/bNAoZ99mBxF.png);background-repeat:no-repeat;background-size:auto;background-position:-157px -316px;bottom:-10px;display:none;height:7px;left:50%;margin-left:-7px;position:absolute;width:15px}
._4fkm ._3s_{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yi/r/bNAoZ99mBxF.png);background-repeat:no-repeat;background-size:auto;background-position:-142px -316px;bottom:-11px;height:8px}
._3s- ._3s_{display:block}
._3s18{margin:0 0 0 -5px}
._3s19{border:1px solid transparent;border-bottom:none;display:block;font-weight:bold;line-height:15px;padding:4px 8px;position:relative}
._3s1a{background-color:#fff;border:1px solid #d3d4d7;display:none;left:0;padding:3px 0;position:absolute;top:23px;z-index:1}
._3s18:hover ._3s19{background:#fff;border-color:#d3d4d7;z-index:2}
._3s18:hover ._3s1a{display:block}
._3s18 ._3c_{display:block;margin:1px 0;padding:3px 8px;white-space:nowrap}
._3s18 ._3c_:hover{background:#f2f2f2}
._3s18 ._3d0, ._3s18 ._3sz{font-size:11px;font-weight:normal}
._3i9{padding:0 14px 0 15px}
._2w3{margin:18px 0 0 0;width:851px}
._2w4{width:136px}
._2w3 > ._30f{background:#fff;border:1px solid #d3d6db;-webkit-border-radius:3px;margin-bottom:31px;min-height:406px}
._359{display:block;margin:20px auto}
._36d .fbTimelineNavX{background:#fff;border:1px solid #c4cde0;-webkit-border-radius:3px}
._36d ._6vp{margin:20px 9px 0 0;padding:15px 5px 15px 0}
._c4e{visibility:hidden}
._c4f ._c4e, ._c4f ._4khu{display:none}
._36d .fbVaultPageMainPagelet{margin-left:-15px;margin-right:-14px}
._36d .fbVaultPageGrid, ._36d .fbVaultPageTopBar, ._36d .fbVaultPageFixedHeader{border:none}
._36d .fbVaultCollectionOverview .fbVaultSelectableGrid{margin-left:-12px;margin-right:-12px}
._2i12 ._359{margin:6px auto}
._3qxv ._359{display:none}
._4-y-{color:#bbb;font-family:'helvetica neue', helvetica, arial, sans-serif;font-size:20px;-webkit-font-smoothing:antialiased;font-weight:bold;padding:70px 0;text-align:center}
._3t3{background:#f6f7f8;-webkit-border-radius:0 0 2px 2px;border-top:1px solid #d3d6db;display:block;margin:0 -14px 0 -15px;padding:15px 0;text-align:center}
._3t3:hover{background:#fafbfc}
.async_saving ._3t5{display:none}
._6qd{visibility:hidden}
.openToggler._6qd, .timelineUnitContainer:hover ._6qd{visibility:visible}
._5ce{position:absolute;right:8px;top:0}
._5cf{display:block;height:14px;padding:3px 0 0 4px;width:14px}
._4__6{padding-right:8px}
._5cg{display:none;height:10px;width:10px}
.openToggler ._5cg, .fbTimelineUnit:hover ._5cg{display:inline-block}
._4__7{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yx/r/RYrbZ8on5T4.png);background-repeat:no-repeat;background-size:auto;background-position:-14px -52px}
._4__8{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yW/r/dPgsgKQzfzH.png);background-repeat:no-repeat;background-size:auto;background-position:0 0}
._4__6._4__4 ._4__8{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yj/r/Ygs95kzSvpD.png);background-repeat:no-repeat;background-size:auto;background-position:0 0}
html ._4__6 ._4__8:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yt/r/rUO5DTtlLST.png);background-repeat:no-repeat;background-size:auto;background-position:0 0}
.openToggler > ._5cf, ._5cf:hover{background-color:#3b5998}
.openToggler > ._5cf ._4__7, ._5cf:hover ._4__7{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yx/r/RYrbZ8on5T4.png);background-repeat:no-repeat;background-size:auto;background-position:-13px -155px}
#pagelet_map .fbTimelineCompactSection{padding:3px}
#pagelet_map .contactInfoTable{width:100%}
#pagelet_map .callOut{padding:20px;width:300px}
#pagelet_map .callOut .closeButton{position:absolute;right:5px;top:5px}
#pagelet_map .businessStatus{width:130px;text-align:right}
#pagelet_map .businessAddress{width:170px;font-weight:bold}
#pagelet_map .uiScrollableArea.contentAfter::after{background-color:#fff}
#pagelet_featured_admins .featuredAdminsList{margin-left:3px}
.pagesAboutDivider{background-color:#c4cde0;float:left;height:100%;margin-left:430px;position:absolute;width:1px}
.pagesAbout.fbTimelineCompactSection{height:auto;padding:0;position:relative}
.fbTimelineAggregatedMapUnitCallout{width:300px}
.fbTimelineAggregatedMapUnitCalloutStories{padding:3px}
.fbTimelineAggregatedMapUnitCalloutHeader{position:relative}
.fbTimelineAggregatedMapUnitCalloutSmall .fbTimelineAggregatedMapUnitCalloutHeader{height:16px;padding-right:85px}
.fbTimelineAggregatedMapUnitCalloutLarge .fbTimelineAggregatedMapUnitCalloutHeader{padding-right:65px}
.fbTimelineAggregatedMapUnitCalloutPlaceLink{display:inline-block;font-size:14px;font-weight:bold;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.fbTimelineAggregatedMapUnitCalloutPager{bottom:9px;position:absolute}
.fbTimelineAggregatedMapUnitCalloutSmall .fbTimelineAggregatedMapUnitCalloutPager{right:30px}
.fbTimelineAggregatedMapCalloutCloseButton, .fbTimelineAggregatedMapUnitCalloutLarge .fbTimelineAggregatedMapUnitCalloutPager{right:9px}
.fbTimelineAggregatedMapCalloutCloseButton{position:absolute;top:9px}
.fbTimelineAggregatedMapUnitCalloutStoryContent{padding:7px}
.fbTimelineAggregatedMapUnitCalloutSmall .fbTimelineAggregatedMapUnitCalloutStoryContent{width:280px}
.fbTimelineAggregatedMapUnitCalloutLarge .fbTimelineAggregatedMapUnitCalloutStoryContent{width:389px}
.fbTimelineAggregatedMapUnitCalloutStory .fbTimelineAggregatedMapUnitCalloutFeedback{margin:0 -1px -1px !important;top:0}
.fbTimelineAggregatedMapUnitCalloutPhoto{padding:0;border:0}
.fbTimelineAggregatedMapUnitCalloutPhoto .photoWrap{margin:8px 0 -4px -8px}
.fbTimelineAggregatedMapUnitCalloutSmall .fbTimelineAggregatedMapUnitCalloutPhoto .photoWrap{height:100px;width:296px}
.fbTimelineAggregatedMapUnitCalloutLarge .fbTimelineAggregatedMapUnitCalloutPhoto .photoWrap{height:250px;width:405px}
.fbTimelineAggregatedMapTripUnit{margin:0 -12px -1px}
.fbTimelineAggregatedMapReportUnit{margin:-7px -15px -12px}
.fbTimelineAggregateMapUnitMap{left:0;position:absolute;top:0;z-index:3}
.fbTimelineAggregatedMapUnit{position:relative;z-index:1}
.fbTimelineAggregatedMapUnit:hover{cursor:pointer}
.fbTimelineAggregatedMapUnitSeeAll{background-color:#b1bdd6;color:#fff;font-size:11px;font-weight:bold;margin:2px;padding:5px;text-align:center;position:relative}
.fbTimelineAggregatedMapUnitThrobber{opacity:1;position:absolute;z-index:2}
.fbTimelineAggregatedMapUnitSeeAllText{display:inline-block;margin-left:auto;margin-right:auto}
.fbTimelineAggregatedMapUnit .aero .fbTimelineAggregatedMapUnitSeeAllText{visibility:hidden}
.fbTimelineAggregatedMapUnitSeeAll:hover{background-color:#9daccb}
.fbTimelineAggregatedMapUnit .aero .fbTimelineAggregatedMapUnitSeeAll:hover{background-color:#b1bdd6}
#fbTimelineMapScrubber .selected ul{display:block}
.sp_9figjm{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yi/r/bNAoZ99mBxF.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:7px;width:25px}
.sx_e7651e{height:28px;background-position:0 -316px}
.sx_3804cf{height:28px;background-position:-26px -316px}
.sx_442d67{height:25px;background-position:-44px -345px}
.sx_649d45{height:25px;background-position:-70px -345px}
.sx_6edfb0{width:26px;height:23px;background-position:-88px -316px}
.sx_dffb8e{width:26px;height:23px;background-position:-115px -316px}
.sx_091644{width:17px;height:27px;background-position:-52px -316px}
.sx_dd403e{width:17px;height:27px;background-position:-70px -316px}
.sx_0e54f5{width:21px;height:26px;background-position:0 -345px}
.sx_80083e{width:21px;height:26px;background-position:-22px -345px}
.sx_505322{width:851px;height:315px;background-position:0 0}
.sx_cbac86{width:14px;background-position:-142px -316px}
.sx_012276{width:14px;background-position:-157px -316px}

#bootloader_4UtX1 { height: 42px; }