/*1362572401,173217629*/

._50mz{height:25px;width:160px}
._6nw ._50mz{height:28px}
#fbDockChatTabs ._50mz.opened{width:260px}
._50mz.highlightTab .fbNubButton{background-color:#6d84b4;border-color:#3a5997;-webkit-box-shadow:inset 0 1px rgba(255, 255, 255, .1);color:#fff}
._6nw ._50mz.highlightTab .fbNubButton{background-color:#5b72ad;background-position:0 -29px;border-color:#2e4588;-webkit-box-shadow:none;color:#fff}
._6nw ._50mz .titlebar .titlebarText, ._6nw ._50mz.highlightTab .fbNubButton .name{color:#fff;text-shadow:0 -1px rgba(0, 0, 0, .25)}
._50mz.highlightTab:hover .fbNubButton{background-color:#627bae}
._6nw ._50mz.highlightTab:hover .fbNubButton{background-color:#4662a3;background-position:0 0}
._50mz.opened .fbNubButton{display:none}
._50mz .fbChatTab{margin-left:2px}
._50mz .fbChatTab .name{line-height:15px;overflow:hidden;text-overflow:ellipsis}
._6nw ._50mz .fbChatTab .name{color:#141823;line-height:18px;text-shadow:0 1px rgba(255, 255, 255, .25)}
._50mz .numMessages{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y5/r/5tkBKMdVC9X.png);background-repeat:no-repeat;background-size:auto;background-position:-268px -121px;color:#fff;font-size:9px;font-weight:bold;height:16px;padding-top:1px;position:absolute;right:12px;text-align:center;top:-8px;width:17px}
._6nw ._50mz .numMessages{background-color:#de111e;background-image:-webkit-gradient(linear, center bottom, center top, from(#de101a), to(#f73841));background-image:-webkit-linear-gradient(bottom, #de101a, #f73841);background-position:0 0;-webkit-border-radius:3px;-webkit-box-shadow:0 1px rgba(0, 0, 0, .33);font-size:11px;margin-right:4px;padding:1px 3px 0;position:static;text-shadow:-1px -1px rgba(0, 0, 0, .25);width:auto}
.ie10._6nw ._50mz .numMessages{background-image:none}
._50mz .loading{display:block;margin:0 auto}
._50mz .fbDockChatTabFlyout{display:none;bottom:0;height:285px;width:100%}
._6nw ._50mz .fbDockChatTabFlyout{bottom:-2px}
._50mz.opened .fbDockChatTabFlyout{display:block}
._50mz .fbNubFlyoutInner{border-bottom:0}
._50mz.highlightTitle .fbNubFlyoutTitlebar{background-color:#4d68a2}
._6nw ._50mz.highlightTitle .fbNubFlyoutTitlebar{background-position:0 0}
._50mz .fbNubFlyoutHeader{position:relative}
._50mz .sheetContainer{position:absolute;top:100%;width:100%}
._50mz.sheetSlide .sheetContainer{overflow:hidden}
._50mz .sheetContainer .sheet{-webkit-background-clip:padding-box;background-color:#f2f2f2;border-bottom:1px solid rgba(0, 0, 0, .1);position:relative;z-index:1}
._50mz.sheetSlide .sheetContainer .sheet{bottom:100%}
._50mz .MercuryTabSheetLoading{padding:5px 115px 5px}
._50mz .sheet .sheet_img{vertical-align:middle}
._50mz .sheetContainer .sheet .sheet_content{display:inline-block;vertical-align:middle;width:212px}
._50mz .sheet .active .sheet_img{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ym/r/42NpRHYIj_U.png);background-repeat:no-repeat;background-size:auto;background-position:-136px -135px;height:10px;width:16px}
._50mz .sheet .mobile .sheet_img{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y5/r/5tkBKMdVC9X.png);background-repeat:no-repeat;background-size:auto;background-position:-268px -138px;height:15px;margin-right:3px;width:11px}
._50mz .sheet .blocked .sheet_img{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ym/r/42NpRHYIj_U.png);background-repeat:no-repeat;background-size:auto;background-position:-14px -153px;height:15px;margin-right:3px;width:13px}
._50mz .sheet .chatOffline .sheet_img{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ym/r/42NpRHYIj_U.png);background-repeat:no-repeat;background-size:auto;background-position:-153px -135px;height:10px;width:16px}
._50mz .fbNubFlyoutBodyContent, ._50mz .conversationContainer{height:100%;width:100%}
._50mz .conversationContainer{table-layout:fixed}
.bubbles .fbDockChatTabFlyout .fbNubFlyoutBody{background-color:#f7f8fa}
._6nw .bubbles ._50mz .fbNubFlyoutFooter:after{background-color:rgba(0, 0, 0, .1);content:'';height:1px;position:absolute;top:-1px;width:100%}
._50mz .conversationContainer .conversation{padding-top:3px}
._50mz .fbNubFlyoutFooter{position:relative}
._50mz .fbNubFlyoutAttachments{position:relative}
._50mz .inputContainer{border-top:1px solid #c9d0da;max-height:77px;overflow-x:hidden;overflow-y:auto;padding:5px 23px 3px 5px;position:relative}
._6nw .bubbles ._50mz .inputContainer{border-top-width:0;padding:7px 23px 5px 5px}
._50mz .hasPhotoUploaderRight .inputContainer{padding-right:23px}
._50mz .hasEmoticonsRight .inputContainer{padding-right:23px}
._50mz .hasPhotoUploaderLeft.hasEmoticonsRight .inputContainer, ._50mz .hasEmoticonsLeft.hasPhotoUploaderRight .inputContainer{padding-right:49px}
._50mz .chatAttachmentShelf{border-top:1px solid #c9d0da;background-color:#fff;font-size:10px;max-height:68px;overflow-x:hidden;overflow-y:auto;position:relative}
._50mz .uploadFileRow{height:13px;padding:5px}
._6nw ._50mz.focusedTab .titlebar{background-position:0 0}
._50mz.focusedTab .titlebar{background-color:#4d68a2}
._50mz .input{border:0;display:block;height:0;margin:0;min-height:16px;outline:none;padding:0;resize:none;width:100%}
._50mz .funhouse .close{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y5/r/5tkBKMdVC9X.png);background-repeat:no-repeat;background-size:auto;background-position:-268px -20px;height:15px;vertical-align:top;width:15px}
._50mz .funhouse .close:hover, ._50mz .funhouse .close:focus{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y5/r/5tkBKMdVC9X.png);background-repeat:no-repeat;background-size:auto;background-position:-268px -52px}
._50mz .funhouse .close:active{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y5/r/5tkBKMdVC9X.png);background-repeat:no-repeat;background-size:auto;background-position:-268px -68px}
._6nw ._50mz .funhouse .close{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yx/r/-u9PNi5orXx.png);background-repeat:no-repeat;background-size:auto;background-position:-176px -86px}
._6nw ._50mz .funhouse .close:active, ._6nw ._50mz .funhouse .close:hover, ._6nw ._50mz .funhouse .close:focus{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yx/r/-u9PNi5orXx.png);background-repeat:no-repeat;background-size:auto;background-position:-288px -53px}
._6nw .highlightTab._50mz .funhouse .close{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yx/r/-u9PNi5orXx.png);background-repeat:no-repeat;background-size:auto;background-position:-75px -221px}
._6nw .highlightTab._50mz .funhouse .close:active, ._6nw .highlightTab._50mz .funhouse .close:hover, ._6nw .highlightTab._50mz .funhouse .close:focus{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yx/r/-u9PNi5orXx.png);background-repeat:no-repeat;background-size:auto;background-position:-105px -221px}
._50mz .funhouse{margin-top:1px}
._50mz.opened .funhouse{display:block;margin-left:5px}
._50mz .titlebar .titlebarLabel{padding:0}
._50mz .titlebar .titlebarTextWrapper{margin:3px 7px 4px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._6nw ._50mz .titlebar .titlebarTextWrapper{margin:5px 8px 3px}
._50mz .titlebar .titlebarText{margin:0;color:#fff}
._50mz .titlebar .noLink{text-decoration:none}
._50mz .titlebar .button{display:inline-block;height:25px;margin-right:-1px;vertical-align:top}
._6nw ._50mz .titlebar .button{height:27px}
._50mz .titlebar .close{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y5/r/5tkBKMdVC9X.png);background-repeat:no-repeat;background-size:auto;background-position:-445px -50px;margin-right:3px;width:21px}
._50mz .titlebar .close:active, ._50mz .titlebar .close:focus, ._50mz .titlebar .close:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y5/r/5tkBKMdVC9X.png);background-repeat:no-repeat;background-size:auto;background-position:-467px -50px}
._6nw ._50mz .titlebar .close{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yx/r/-u9PNi5orXx.png);background-repeat:no-repeat;background-size:auto;background-position:-72px -215px;margin-right:3px}
._6nw ._50mz .titlebar .close:active, ._6nw ._50mz .titlebar .close:focus, ._6nw ._50mz .titlebar .close:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yx/r/-u9PNi5orXx.png);background-repeat:no-repeat;background-size:auto;background-position:-102px -215px}
._50mz .metaInfoContainer{background-color:#fff;padding-left:3px;position:absolute;right:0;top:-9px}
.bubbles ._50mz .metaInfoContainer{display:none}
._50mz .chatIconsContainer{bottom:-1px;position:absolute;right:0}
._6nw .bubbles ._50mz .chatIconsContainer{bottom:0}
._50mz .chatPhotoUploader{float:left;height:26px}
._50mz .emoticonsPanel{float:left;position:relative}
._50mz .emoticonsPanel .panelFlyout{border-bottom:2px solid #293e6a;bottom:24px;right:0}
._50mz .emoticonsPanel .emoteTogglerImg{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y5/r/5tkBKMdVC9X.png);background-repeat:no-repeat;background-size:auto;background-position:-285px -22px;border:1px solid transparent;border-top:none;position:relative;z-index:1}
._50mz .emoticonsPanel .emoteTogglerImg:focus, ._50mz .emoticonsPanel .emoteTogglerImg:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y5/r/5tkBKMdVC9X.png);background-repeat:no-repeat;background-size:auto;background-position:-311px -22px;outline:none}
._6nw ._50mz .emoticonsPanel .panelFlyout{bottom:26px}
._6nw ._50mz .emoticonsPanel .emoteTogglerImg{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y5/r/5tkBKMdVC9X.png);background-repeat:no-repeat;background-size:auto;background-position:-285px -21px;height:27px;top:1px}
._6nw .bubbles ._50mz .emoticonsPanel .emoteTogglerImg{top:0}
._6nw ._50mz .emoticonsPanel .emoteTogglerImg:hover{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y5/r/5tkBKMdVC9X.png);background-repeat:no-repeat;background-size:auto;background-position:-311px -21px}
._50mz .emoticonsPanel.openToggler .emoteTogglerImg{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y5/r/5tkBKMdVC9X.png);background-repeat:no-repeat;background-size:auto;background-position:-337px -22px;background-color:#6d84b4;border-bottom:none;border-left:1px solid #3b5998;border-right:1px solid #3b5998;border-top:none;padding-bottom:1px}
._6nw ._50mz .emoticonsPanel.openToggler .emoteTogglerImg{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y5/r/5tkBKMdVC9X.png);background-repeat:no-repeat;background-size:auto;background-position:-337px -21px}
._50mz.typing .fbChatTab .wrapWrapper{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y5/r/5tkBKMdVC9X.png);background-repeat:no-repeat;background-size:auto;background-position:right -4px;float:left;max-width:133px;padding-right:15px}
._6nw ._50mz.typing .fbChatTab .wrapWrapper{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yx/r/-u9PNi5orXx.png);background-repeat:no-repeat;background-size:auto;background-position:right -2px;max-width:127px;padding-right:18px}
._6nw ._50mz.typing.highlightTab .fbChatTab .wrapWrapper{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yx/r/-u9PNi5orXx.png);background-repeat:no-repeat;background-size:auto;background-position:right -24px}
._50mz.typing .fbNubButton:hover .fbChatTab .wrapWrapper{max-width:113px}
._50mz .titlebar i.titanArchiveWarning{margin-right:5px}
._6nw ._50mz .titlebar i.titanArchiveWarning{height:18px;margin-right:4px;margin-top:1px;opacity:.7}
._50mz .callBackLink{white-space:nowrap}
._50mz.disabled .callBackLink{display:none}
._4g5r ._50mz:last-child .titlebarButtonWrapper .uiSelectorMenuWrapper{left:auto;right:0}

#bootloader_4eR7q { height: 42px; }