/*1362610180,178142495*/

._510g{clear:both;color:#a6a6a6;margin-left:26px;padding-bottom:5px;-webkit-user-select:none;visibility:hidden}
.bubbles ._510g{color:#999ca5;font-size:11px;margin-left:45px;margin-top:-2px;padding-bottom:1px}
.bubbles ._510g.typing ._510h{display:none}
.bubbles ._510g._510e{float:right;padding-right:10px}
._510g ._510h{float:left;height:12px;margin-right:7px;position:relative;width:12px}
.bubbles ._510g ._510h{margin-right:5px}
._510g.sentFromMobile, ._510g.sentFromEmail, ._510g.typing, ._510g.seen{visibility:visible}
._510g.sentFromMobile ._510h{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y5/r/5tkBKMdVC9X.png);background-repeat:no-repeat;background-size:auto;background-position:-840px -27px}
._510g.sentFromEmail ._510h{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y5/r/5tkBKMdVC9X.png);background-repeat:no-repeat;background-size:auto;background-position:-840px -473px}
.bubbles ._510g.sentFromEmail ._510h{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yx/r/-u9PNi5orXx.png);background-repeat:no-repeat;background-size:auto;background-position:-301px -300px;margin-right:3px;margin-top:3px}
._510g.seen ._510h{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y5/r/5tkBKMdVC9X.png);background-repeat:no-repeat;background-size:auto;background-position:-840px -373px}
.bubbles ._510g.sentFromMobile ._510h{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yx/r/-u9PNi5orXx.png);background-repeat:no-repeat;background-size:auto;background-position:-304px -114px;margin-right:0;margin-top:1px}
.bubbles ._510g.seen ._510h{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yx/r/-u9PNi5orXx.png);background-repeat:no-repeat;background-size:auto;background-position:-84px -119px;margin-right:2px}
._510g.seen a{color:inherit}

#bootloader_4iysI { height: 42px; }