/*1362498394,173220389*/

._50--{bottom:0;direction:ltr;height:25px;left:0;position:fixed;right:0;z-index:300}
._6nw ._50--{height:29px}
.sidebarMode ._4g5r ._50--{right:0}
.sidebarMode ._50--{right:205px}
.fbDockWrapperLeft{right:auto}
.fbDockWrapperRight{left:auto}
.fbDock{margin:0 15px 0 0}
.fbDock .lNubContainer{float:left}
.fbDock .rNubContainer{float:right}

#bootloader_h7N6t { height: 42px; }