

@import "compass/reset",
        "bootstrap",
        "compass/utilities",
        "compass/css3";

/* ----------------------------
 * Mixins
 ----------------------------*/
@mixin link-color($color){
  color: $color;
  &:hover{
    color: darken($color, 20%);
    text-decoration: none;
    background: transparent;
  }
}


/* ----------------------------
 * Colors
 ----------------------------*/
$dark-blue: #033E6B;
$blue: #104BA9;
$green-blue: #015367;
$orange: #FF9200;
$gray: #666;
$dark-gray: #777;

$primary: $dark-blue;
$secondary: $blue;
$thiry: $green-blue;
$accent: $orange;

$color-link: $blue;
$color-bg-nav: $gray;
$color-font: #222;
$color-heading: $dark-blue;

$max-width: 960px;

body{
  color: $color-font;
}

/* ----------------------------
  * Sprites
  ----------------------------*/
@import "icon/*.png";
@include all-icon-sprites(true);



/* ----------------------------
 * Fonts
 ----------------------------*/
a{
  @include link-color($color-link);
}
h1,h2,h3,h4,h5,h6{
  color: $color-heading;
}


/* ----------------------------
  * Header
  ----------------------------*/
hgroup{
  margin: 0 auto;
  width: $max-width;
}
.header-container{
  @include clearfix;

  .site-logo{
    width: 100px;
    height: 100px;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .site-title{
    margin-left: 10px;
    h5{
      text-align: center;
    }
    a{
      @include link-color($primary);

    }
  }
}



/* ----------------------------
  * Nav
  ----------------------------*/

  .nav-wrapper{
    width: 100%;
    padding: 10px 0;

    a{
      color: white;
      font-size: 16px;
    }
  }

.nav-wrapper{
  background: image_url('bg.gif') repeat top left;
  width: 100%;
}
.nav{
  @include clearfix;
  margin: 0 auto;
  width: $max-width;
  li{
    float: left;
    margin: 0 5px;
  }
  a:hover{
    background: none !important;
  }
  li{
    border: 1px solid white;
    @include border-radius(5px);
    margin: 5px;
    padding: 5px;

    &.default-link{
      background: $dark-gray;
      @include background-image(linear-gradient($dark-gray, darken($dark-gray, 10%), $dark-gray));

      &:hover{
        @include background-image(linear-gradient(darken($dark-gray, 10%), $dark-gray, darken($dark-gray, 10%)));
      }
    }
  }
  /* Nav Social Icons*/
  li.nav-social{
    float: right;
    text-indent: -9999px;
    display: block;
    padding: 0;
    margin: 5px;
    border: none;
    background-color: transparent !important;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    &:hover{
      -webkit-transform: rotateZ(360deg);
      -moz-transform: rotateZ(360deg);
      transform: rotateZ(360deg);
    }
    a{
      width: 32px;
      height: 32px;
      display: block;
    }
  }
}

/* ----------------------------
  * Body
  ----------------------------*/
.wrapper{
  margin: 0 auto;
  width: $max-width;
}

/* ----------------------------
  * Front Page
  ----------------------------*/
.front-widgets{

  @include clearfix;
  &.first{
    padding-bottom: 10px;
  }
  .widget_tag_cloud{
    width: 30%;
    float: left
  }
  .popular-posts{
    width: 65%;
    float: right;
  }
}

.widget_tag_cloud{
  .tagcloud{
    a{
      line-height: 1.5em;
      margin-left: 10px;
    }
  }
}
.popular-posts{
  li{
    margin: 10px 0;
    .wpp-post-title{
      font-weight: bold;
      font-size: 16px;
    }
    .wpp-excerpt{
      display: block;
      margin-left: 10px;
      font-size: 12px;
    }
  }
}



