/**
 * Cool Corporate: http://www.colourlovers.com/palette/44520/Cool_Corporate
 */

$color-neutral-gray: #A0A0A4;
$color-sage-green: #B3C7AC;
$color-fog-blue: #66828E;
$color-dark-blue: #302641;
$color-dark-gray: #7D7F83;

$light-bg: $color-neutral-gray;

$color-border: $color-sage-green;
$footer-border: $color-border;
$link-color-on-dark-hover: $color-sage-green;
$link-color-on-dark: #fff;
$link-color: $color-fog-blue;

$color-posts-bg: $color-dark-blue;
$color-posts-bg-alt: $color-dark-gray;
$color-posts-bg-alt-2: $color-fog-blue;

$headline-color: $color-dark-blue;