/**
 * Cool Corporate: http://www.colourlovers.com/palette/44520/Cool_Corporate
 *
 * http://www.colorhunt.co/c/87026
 */

$color-primary: #363333;
$color-secondary: #272121;
$color-action: #E16428;
$color-bg: #F6E9E9;

$light-bg: $color-bg;

$color-border: $color-action;
$footer-border: $color-action;
$link-color-on-dark-hover: $color-action;
$link-color-on-dark: #fff;
$link-color: $color-action;

$color-posts-bg: $color-secondary;
$color-posts-bg-alt: $color-primary;
$color-posts-bg-alt-2: $color-primary;

$headline-color: $color-secondary;

$navigation-bg: $color-action;
$navigation-active-color: $color-secondary;